doctype html
html
  head
    title #{title}-UED
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .header
        .layout
            a.logo(href="/")
                span 任务管理系统

    block content
        .not-found