doctype html
html.login-html
  head
    title UED任务管理系统
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .header
        .layout
            a.logo(href="/")
                span 任务管理系统
    .login-bg
        #login
            #cot
                form#loginForm(action="/login", method="post")
                    if(error)
                        p.login-error #{error}
                    table(width="100%" cellpadding="0", cellspacing="0")
                        tr
                            td
                                input#userName.form.text(placeholder="用户名", name="userName")
                        tr
                            td
                                input#password.form.text(placeholder="密码", name="password", type="password")
                        tr
                            td
                                input.login-btn(type="submit", id="J_loginBtn" class="login-btn")
                                
                                //- label
                                //-     input#remember(type="checkbox", name="remember", value="1" checked="checked")
                                //-     | 自动登录
    .login-footer
        .login-footer-logo
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/new.js")